@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Addition change. This is the updated privacy policy. As you can tell by the number of characters in this page, pricay is something that we take very seriously.</p>
