<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctiondemo20200211082717.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2a21de66-9a9c-48d1-b65b-41716a8fc0bd/resourceGroups/Provs2017/providers/Microsoft.Web/sites/AzureFunctionDemo20200211082717</ResourceId>
    <UserName>$AzureFunctionDemo20200211082717</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctiondemo20200211082717.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>